body{
    background-image: url(assets/ep_naturalblack.png)
    
}

.pills {
    padding-top:5px;
    
}

.yellow{
    background-color:#ffc107;
    font-family: 'IBM Plex Sans', sans-serif;
    color:whitesmoke;
    margin-top:-70px;
    position:relative;
    padding:10px;

}

#name {
    
    color:whitesmoke;
    font-family: 'IBM Plex Sans', sans-serif;
}

.purp:hover {
   color:whitesmoke
}

#whitesmoke{
    color:whitesmoke;
}

.smokey {
    color:whitesmoke
}

.foot {
    position: fixed;
    bottom:0;
    left:0;
    width:100%
}