body{
    background-image: url(assets/ep_naturalblack.png)
}

.pills {
    padding-top:5px;
    
}

.purple{
    background-color:#4c14fe;
    margin-bottom:50px;
    font-family: 'IBM Plex Sans', sans-serif;
    color:whitesmoke;
}

#name {
    
    color:whitesmoke;
    font-family: 'IBM Plex Sans', sans-serif;
}


.purp:hover {
   color:whitesmoke
}

#whitesmoke{
    color:whitesmoke;
}

.smokey {
    color:whitesmoke
}