body{
    background-image: url(assets/escheresque.png)
}

.pills {
    padding-top:5px;
    
}

.purple{
    background-color:#4c14fe
}

#name {
    
    color:whitesmoke;
    font-family: 'IBM Plex Sans', sans-serif;
}

#pname {
    font-family: 'IBM Plex Sans', sans-serif;
}

.purpname {
    font-family: 'IBM Plex Sans', sans-serif;
}

.purp:hover {
   color:whitesmoke
}